* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgba(24, 15, 40, 255);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  user-select: none;
}
